.cards {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 554px;
    max-width: 1600px;
    width: 100%;
    background: radial-gradient(67.22% 50% at 50% 50%, rgba(255, 100, 51, 0.15) 0%, rgba(245, 228, 255, 0) 100%);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &__content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    &__header {
        max-width: 1150px;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 30px;
        
    }
}
.cards::before{
    content: '';
    max-width: 1600px;
    width: 100%;
    height: 554px;
    position: absolute;
    background-color: #F2F3F7;
    background-image: radial-gradient(67.22% 50% at 50% 50%, rgba(51, 231, 255, 0.15) 0%, rgba(245, 228, 255, 0) 100%);
    
    opacity: 0.9;
    z-index: -1;
}

.page__title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #2E2E3A;
}
.content {
    display: flex;
    align-items: center;
    
}
button {
    height: 20px;
}
.button--addCard {
    width: 166px;
    height: 36px;
    border: 1px solid #0062FF;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #0062FF;
    margin: 0px 12px;
    margin: 0px 24px;
}

.cards-list {
    display: flex;
    list-style: none;
    max-width: 1144px;
    width: 100%;
    font-size: 16px;
    justify-content: space-between;
    padding-left: 0;
    margin: 0 auto;
    // overflow: scroll;
}
.card {
    width: 368px;
    height: 218px;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%);
    -webkit-box-shadow: 5px 52px 32px -1px rgba(32, 190, 151, 0.14);
    -moz-box-shadow: 5px 52px 32px -1px rgba(33, 182, 145, 0.14);
    box-shadow: 5px 52px 32px -1px rgba(31, 161, 129, 0.14);
    position: relative;
    overflow: hidden;

    &__background {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    &__currency {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 35px;
        align-items: center;
        text-transform: uppercase;
        color: #FFFFFF;
        position: absolute;
        top: 20px;
        left: 30px;
    }

    &__chip{
        position: absolute;
        top: 20px;
        right: 30px;
    }

    &__logo{
        position: absolute;
        bottom: 20px;
        right: 30px;
    }

    &__holder{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 11px;
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        color: #FFFFFF;
        position: absolute;
        bottom: 30px;
        left: 30px;

        &--name{
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #EDEFF1;
            padding-left: 20px;
        }
    }

    &__total {
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 35px;
        color: #FFFFFF;
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translate(0, -50%);
    }
}
.payment{
    display: flex;
    width: 220px;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 100px;
    padding: 10px 16px;
    border: none;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;

    &__point{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 20px;
    }

    &__sum{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #2E2E3A;
        margin-left: 10px;
    }
}

.fast-payment {
    display: flex;
    max-width: 1144px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 16px;
    padding-left: 0;
    padding: 0 20px;
    height: 98px;
    border-top: 1px solid #E2E2EA;

    &__list{
        max-width: 850px;
        width: 100%;
        padding: 0;
        // padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: scroll;
    }

    ::-webkit-scrollbar { /* chrome based */
        width: 0px;  /* ширина scrollbar'a */
        height: 0px;
        background: transparent;  /* опционально */
    }

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 18px;
    }

    &__button {
        cursor: pointer;
        min-width: 40px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 20px;
        font-weight: 600;
        font-size: 14px;
        color: #2E2E3A;
    }
}

.info-list{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    max-width: 1144px;
    width: 100%;

    &__item{
        display: flex;
        flex-direction: column;
    }
    
    &__title{
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.009em;
        color: #262631;
        text-align: left;
        margin-bottom: 15px;
    }

    &__cash{
        display: flex;
    }

    &__sum{
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 35px;
        color: #2E2E3A;
    }

    &__trend{
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: -0.009em;
        color: #24CA49;
    }

    &__computed-date{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #656575;
    }
}
.modal {
    border-radius: 20px;
    display: flex;
    

    &__conteiner{
        width: 350px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
        margin: 0 auto;
    }

    &__title{
        color: rgba(10, 175, 125, 1);
        margin: 0 auto;
        font-size: 20px;
    }

    &__input-label{
        display: block;
        width: 350px;
        margin: 10px;
        height: 20px;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        
    }

    &__input{
        width: 300px;
        height: 40px;
        border: 2px solid rgba(10, 175, 125, 1);
        padding: 10px;
        margin-bottom: 10px;
    }

    &__select{
        width: 300px;
        height: 40px;
        border: 2px solid rgba(10, 175, 125, 1);
        padding: 8px;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 10px;
        background-color: rgba(10, 175, 125, 0.04);
    }

    
    &__select:required:invalid {
        font-size: 16px;
        color: grey;
    }
    option[value=""][disabled] {
        display: none;
      }
      &__option{
        font-size: 16px;
        line-height: 16px;
        color: black;
        height: 25px;
    }
}
