@import 'reset.css';
@import 'header.scss';
@import 'cards.scss';
@import 'operations.scss';


html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}
#app {
    font-family: 'Inter', sans-serif;
}