.operations{ 
    max-width: 1600px;
    width: 100%;
    height: 100%;
    background: #F2F3F7;
    margin: 0 auto;

    &__content{
        max-width: 1200px;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }
}

.transactions {
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 28px 30px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(199, 203, 217, 0.07), 0px 41.7776px 33.4221px rgba(199, 203, 217, 0.0503198), 0px 22.3363px 17.869px rgba(199, 203, 217, 0.0417275), 0px 12.5216px 10.0172px rgba(199, 203, 217, 0.035), 0px 6.6501px 5.32008px rgba(199, 203, 217, 0.0282725), 0px 2.76726px 2.21381px rgba(199, 203, 217, 0.0196802);
    border-radius: 20px;

    &__header{
        display: flex;
        justify-content: space-between;
    }

    &__title{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        color: #2E2E3A;
        align-self: flex-start;
    }

    &__list{
        padding-top: 30px;
        max-height: 470px;
        overflow: auto;
    }
    ::-webkit-scrollbar { /* chrome based */
        width: 0px;  /* ширина scrollbar'a */
        height: 0px;
        background: transparent;  /* опционально */
    }

    &__item{
        display: flex;
        height: 55px;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #F2F3F7;
    }

    &__item:hover{
        background-color: #70707c0c;
    }

    &__direction{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    &__card-info{
        width: 30%;
        height: 26px;
        display: flex;
        align-items: center;
    }

    &__card-number{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #9A9AAF;
    }

    &__card-logo{
        width: 25px;  
    }

    &__card-logo-conteiner{
        width: 43px;
        height: 26px;
        border-radius: 5px;
        margin-right: 10px;
    }

    &__date{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #70707C;
        padding-top: 5px;
    }

    // &__card{
    //     width: 15%;
    // }

    &__company{
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.009em;
        color: #2E2E3A;
    }

    &__category{
        width: 50%;
        display: flex;
    }

    &__department{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #FF5CAA;
    }

    &__sum{
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        width: 20%;
        color: #2E2E3A;
        display: flex;
        justify-content: flex-end;
    }

    &__button-load{
        padding: 7px;
        width: 32px;
        height: 32px;
        left: 40px;
        top: 32px;
        background: #F2F3F7;
        border-radius: 6px;
        margin: 0px 8px;
        cursor: pointer;
    }

    &__button-more{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #24CA49;
        border: none;
        background: transparent;
        cursor: pointer;
        margin: 30px;
    }
}

.button--popular {
    padding: 0 10px;
    width: 130px;
    height: 36px;
    border: none;
    background-color: #F2F3F7;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.009em;
    color: #16161E;
}
.button--option {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.009em;
    color: #16161E;
}

.statistic{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 28px 30px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(199, 203, 217, 0.07), 0px 41.7776px 33.4221px rgba(199, 203, 217, 0.0503198), 0px 22.3363px 17.869px rgba(199, 203, 217, 0.0417275), 0px 12.5216px 10.0172px rgba(199, 203, 217, 0.035), 0px 6.6501px 5.32008px rgba(199, 203, 217, 0.0282725), 0px 2.76726px 2.21381px rgba(199, 203, 217, 0.0196802);
    border-radius: 20px;

    &__header{
        display: flex;
        justify-content: space-between;
    }

    &__title{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        color: #2E2E3A;
        align-self: flex-start;
    }

    &__chart{
        max-width: 350px;
        margin-top: 40px;
    }
}
